.a {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px; 


}

.b{

    text-align: justify;
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
}

.img{

    width: 80%;
}

.why{

    background-image: url(https://www.firstfiddle.in/assets/images/bannerabout.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    
}

.m1{

    padding-top: 71px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
    font-size: 37px;
}
.why1{

    line-height: 40px;
    letter-spacing: 1px;
    color: white;
    
}
.ban{
    background-color: #fbac29;
    border-radius: 0px;
    color: #ffffff ;
    font-weight: bolder;
    width: 176px;
    height: 49px;
}
.f{
    color: #ffffff;
    font-weight: bolder;
    height: 50px
}
.why2{

    background-image: url(https://www.firstfiddle.in/assets/images/outletbanner.png);
    width: 100%;
    height: 420px;
    background-size: cover;
    
}

.ex{

    padding-top: 8px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 1px;
    margin-top: 47px;
    font-size: 38px;
}
.c{
    line-height: 34px;
    letter-spacing: 1px;   
    padding-left: 46px;
    font-style: oblique;
    color: darkgray;
    
}
footer{

    background: #020306f0;
    padding: 50px;
    color: #fff;
}
footer .e{
    font-family: 'prague';
    font-size: 2 rem;
    line-height: 50px;
    letter-spacing: 3px;
    color: #fff;
}
footer p{
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 1rem;

}
span a{
    text-decoration: none;
}

.pri{

    
    height: 115px;
    padding: 36px;
}
.weblogo{
    width: 65px;
}






/* media query */
@media(max-width:768px)
{

    .img{

        width: 100%;
        margin-top: 16px;
    }
}
